body {
	margin: 0px;
	padding: 0px;
}
.header {
	border: 1px black solid;
	height: 30px;
}
.main-pic {
	border: 1px red solid;
	height: 100px;
}
.basic-info {
	border: 1px green solid;
	height:200px;
}