body {
	text-align: center;
	height: 100%
	width: 100%;
	color: white;
	background-color: black;
	font-family: Futura, sans-serif, monospace;
}
.navbar {
	position: absolute;
	width:100%;
	margin: 0;
	padding: 0;
	background-color: none;
	color: white;
	font-family: Futura, sans-serif, monospace;

}
.navbar {
	color: white;
	background-color: black;
}
/*nav {
	position: absolute;
	width:100%;
	margin: 0;
	padding: 0;
	background-color: none;
	color: white;
	font-family: Futura, sans-serif, monospace;
	border: none;
	text-align: right;

}*/
/*@media (min-width: 996px;) {
	nav {
		display: none;
	}
}*/
.col-xs-2 {
	font-size: 10px;
	margin: 0;
	padding: 0;

}
.col-xs-3 {
	font-size: 10px;
	margin: 0;
	padding: 0;
}
.small-rach {
	font-size: 11px;
	/*padding-left: 10px;*/
}
.leftcol {
/*	width: 255px;
	height: 100vh;*/
	background-color: black;
	color: white;
}
/*@media (max-width: 997px) {
	.leftcol {
		display: none;
	}	
	.maincol {
		width: 100%;
	}
}*/

ul {
	list-style-type: none;
}
li {
	text-align: left;
	padding: 15px;
}
a {
	text-decoration: none;
	color: white;
	/*margin: 20px;*/
	/*padding: 20px;*/
}
.meme{
	height: 290px;
	width: 300px;
	margin-left: -70px;
	padding: 0px;
}
.cover-pic {
	height: 100%;
	width: 100%;
	display: inline-block;
	/*position: fixed;*/
	/*position: absolute;*/
}
section.maincol {
    position: absolute;
    top: 0;
    /*left: 255px;*/
    bottom: 0;
    overflow: auto;

    /*min-width: 400px;*/
}
section {
	display: block;
}
.my-fluid-container {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	color: white;
	background-color: black;
}
/*.cape-town {
	height: 50%;
	width:50%;
}*/
/*.words-about-me {
	padding-left: -20px;
}*/
.hover-facts1 {
	border: 2px solid #FF04D5;
	background-color: #FF04D5;
	top: 35px;
	left: 400px;
	height: 200px;
	width: 200px;
	position: absolute;
}
.imgWrap {
	position: relative;
}
.hover-facts1 {
	border: 2px solid #FF04D5;
	height: 240px;
	width: 240px;
	position: absolute;
	left: 55px;
	top: 30px;
	visibility: hidden;
	padding-top: 100px;
	opacity: 0;
}
.hover-facts2 {
	background-color: #FF04D5;
	border: 2px solid #FF04D5;
	height: 240px;
	width: 240px;
	position: absolute;
	left: 55px;
	top: 30px;
	visibility: hidden;
	opacity: 0;
	padding-top: 100px;
}
.hover-facts3 {
	background-color: #FF04D5;
	border: 2px solid #FF04D5;
	height: 240px;
	width: 240px;
	position: absolute;
	left: 55px;
	top: 30px;
	visibility: hidden;
	opacity: 0;
	padding-top: 100px;
}
.hover-facts4 {
	background-color: #FF04D5;
	border: 2px solid #FF04D5;
	height: 240px;
	width: 240px;
	position: absolute;
	left: 55px;
	top: 30px;
	visibility: hidden;
	opacity: 0;
	padding-top: 100px;
}
.hover-facts5 {
	background-color: #FF04D5;
	border: 2px solid #FF04D5;
	height: 240px;
	width: 240px;
	position: absolute;
	left: 55px;
	top: 30px;
	visibility: hidden;
	opacity: 0;
	padding-top: 100px;
}
.hover-facts6 {
	background-color: #FF04D5;
	border: 2px solid #FF04D5;
	height: 240px;
	width: 240px;
	position: absolute;
	left: 55px;
	top: 30px;
	visibility: hidden;
	opacity: 0;
	padding-top: 100px;
}
.imgWrap:hover .hover-facts1 {
	visibility: visible;
	opacity: .8;
	transition: opacity .2s;

}
.imgWrap:hover .hover-facts2 {
	visibility: visible;
	opacity: .8;
	transition: opacity .2s;

}
.imgWrap:hover .hover-facts3 {
	visibility: visible;
	opacity: .8;
	transition: opacity .2s;

}
.imgWrap:hover .hover-facts4 {
	visibility: visible;
	opacity: .8;
	transition: opacity .2s;

}
.imgWrap:hover .hover-facts5 {
	visibility: visible;
	opacity: .8;
	transition: opacity .2s;

}
.imgWrap:hover .hover-facts6 {
	visibility: visible;
	opacity: .8;
	transition: opacity .2s;

}

a:hover {
	text-decoration: none;
	color:#FFCD05;
}


.pics {
	display: inline-block;
	height: 300px;
	width: 300px; 
	padding:30px;
	margin-left:25px;

}